#git+https://github.com/paul-gauthier/aider.git
#aider-chat==0.20.0 #had to use GH link due to pip version issue with openai dependency
crewai
crewai[tools]
duckduckgo-search
openai>=1.5.0
python-dotenv>=1.0.0
#pyautogen
markdown
pymarkdownlnt